@import "../../modules/baseModule";
.container {
    border: black 2px;
    & > * {
        text-decoration: none;
    }
    &__title {
        margin: 10px 0px;
        font-size: 70%;
    }
    --fa-animation-duration: 0s;
    &:hover {
        --fa-animation-duration: 1s;
    }
}
.skill {
    border: solid 2px black;
    border-radius: 10px;
    @extend %iconStable;
}
