$primaryColor: black;
$secondaryColor: white;
$primaryBackground: #282c34;
$secondaryBackground: #464d5c;
$tertiaryBackground: #20242c;

$activeLink: rgb(255, 255, 255);
$vistedLink: rgb(255, 255, 255);
$hoverLink: rgb(209, 209, 209);
