@import "./_partials/_palette.scss";
.App {
    background-color: $primaryBackground;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    &-header {
        flex: 1;
    }
}
* {
    color: $secondaryColor;
}
p {
    margin: 0px;
}
h2 {
    text-decoration: overline;
}
