.container {
    width: calc(2vw + 4vh);
    height: auto;
    align-items: center;

    text-align: center;
    display: block;
    margin: auto;

    & > a > img {
        width: 80%;
    }
    &__icon {
        --fa-animation-duration: 0s;
        &:hover {
            --fa-animation-duration: 1s;
        }
    }
}
